<footer><!--FOOTER DE LA PÁGINA-->
  <div class="row">
      <div class="col">
          <a href="#"><img src="FOTOS/logo2.png"  class="logo_footer"/></a><!--Logo footer-->
          <p>Tu restaurante de confianza</p>
      </div>

      <div class="col"><!--Columna de servicios-->
          <h3>Servicios<div class="underline"><span></span></div></h3>
          <ul>
              <li><a href="App.html">Pedidos a domicilio</a></li>
              <li><a href="restaurantes.html">Recogida restaurante</a></li>
          </ul>

          <br>

          <h4><i class="fa-solid fa-phone"></i> +34 955222333</h4>
      </div>

      <div class="col"><!--Columna corporativo-->
          <h3>Corporativo<div class="underline"><span></span></div></h3>
          <ul>
              <li><a href="nuestrahistoria.html">Nuestra historia</a></li>
              <li><a href="Contactaconnosotros.html">Contacta con nosotros</a></li>
              <li><a href="Trabajaconnosotros.html">Trabaja con nosotros</a></li>
              <li><a href="franquicias.html">Franquíciate</a></li>
          </ul>
      </div>

      <div class="col">
          <h3>Suscríbete<div class="underline"><span></span></div></h3><!--Parte de suscripcion-->
          <form>
              <i class="far fa-envelope"></i>
              <input type="email" placeholder="Introduce tu email" required>
              <button type="submit"><i class="fas fa-arrow-right"></i></button>
          </form>
          <div class="redes-sociales">
              <a href="https://www.facebook.com/profile.php?id=100080673356936" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/Jupean_" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/jupean.ada/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
  <hr>
  <p class="copyright">Jupean © 2022 - Todos los derechos reservados</p><!--Parte de copyright-->
</footer>
