<div class="cuerpo">
  <div class="form-body">
    <img src="../../assets/foto_user1.jpg" alt="user-login">
    <p class="text">Bienvenid@</p>
    <form class="login-form">
      <input type="email" id="email" placeholder="Email*" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      <input type="password" placeholder="Contraseña*" required>
      <button class="inicia"><a href="">INICIA SESIÓN</a></button>
      <h1>¿Aún no tienes cuenta?<a href=""> Regístrate.</a></h1>
      <br>
    </form>
  </div>

</div>


