<div class="cuerpo">
  <div class="form-body">
    <img src="Imagenes/foto_user1.jpg" alt="user-login">
    <p class="text">Bienvenid@</p>
    <form action="INICIO.html" method="post" class="login-form">
      <input type="email" id="email" placeholder="Email"
       pattern=".+@globex\.com" size="30" required>
      <input type="password" placeholder="Contraseña" required>
      <button class="inicia">INICIA SESIÓN</button>
      <h1>¿Aún no tienes cuenta? <a href="register.component.html">Regístrate.</a></h1>
      <br>
    </form>
  </div>
</div>
