@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans&display=swap');

* {
  margin: 0px;
  /* Sin margenes */
  padding: 0px;
  /* Padding nos crea espacios alrededor del contenido del elemento seleccionado */
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  /* Fuente de la página */
  text-decoration: none;
}

body {
  background-color: white;
  /* Color página completa */
  width: 100%;
  /* Anchura */
  place-items: center;
  /* Alineación al centro */
}

/* CUERPO */
.cuerpo {
  width: 100%;
  align-items: center;
  text-align: center;
}

.form-body {
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 3px #843c9c;
  margin: 0 auto;
  margin-top: 100px;
}

.form-body img {
  width: 150px;
  display: block;
  margin: 20px auto;
}

.text {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
}

.form-body input {
  display: block;
  margin: auto;
  height: 45px;
  width: 75%;
  padding-left: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
  outline: none;
  font-weight: bold;
}

.form-body input[type="password"] {
  margin-top: 20px;
}

.form-body input:hover {
  transition: .5s;
  border: 1px solid #843c9c;
  color: black;
}

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 2px solid #883884;
  background: linear-gradient(#843c9c, #883884);
}

.form-body button a {
  color: white;
}

.form-body button:hover {
  color: black;
  font-weight: bold;
  border: 2px solid #883884;
  background: white;
}

.form-body button:hover a {
  color: black;
  font-weight: bold;
  background: white;
}

table {
  width: 100%;
  margin: 0 auto;
  background-color: #d8d7d7;
  border-collapse: separate;
  border-spacing: 520px 30px;
  text-align: center;
}

h1 {
  font-size: 15px;
  color: black;
}

/*FOOTER */

footer {
  width: 100%;
  bottom:0;
  background: black;
  color:white;
  padding: 100px 0 30px;
  font-size: 12px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  /*padding:1px;*/
}

.col:nth-child(2), .col:nth-child(2){
  flex-basis: 15%;
}

.logo_footer {
  width: 200px;
  margin-bottom: 30px;
}

.col h3 {
  width:fit-content;
  margin-bottom: 30px;
  position: relative;
}

.col h4 {
  color: white;
  font-size: 15px;
}

/* FOOTER */

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  text-decoration: none;
  color: #931221;
  font-size: 15px;
  transition: 0.5s;
}

footer form {
  padding-bottom: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #CCC;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #CCC;
  border: 0;
  outline:none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color:white;
}

footer .redes-sociales .fab{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: white;
  margin-right: 18px;
  cursor: pointer;
}

footer .redes-sociales .fab:hover{
  font-size: 24px;
  color: #931221;
  transition: 0.5s;
}

footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #CCC;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

footer .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

footer .underline span {
  width: 15px;
  height: 100%;
  background: white;
  border-radius: 3px;
  position:absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
