<div class="cuerpo">
  <div class="form-body">
    <img src="Imagenes/foto_user1.jpg" alt="user-login">
    <p class="text">Regístrate</p>
    <form action="INICIO.html" method="post" class="login-form">
      <input type="text" placeholder="Nombre y apellidos">
      <br>
      <input type="text" placeholder="Email">
      <br>
      <input type="text" placeholder="Nombre de usuario">
      <input type="password" placeholder="Contraseña">
      <button class="inicia"><a href="CUENTA.html">REGISTRATE</a></button>
      <h1>¿Ya tienes cuenta? <a href="CUENTA.html">Inicia sesión.</a></h1>
      <br>
    </form>
  </div>
</div>
