<header id="header" class="header bebas w-full h-menu bg-black text-white">
  <div class="wrap wrap-content mx-auto w-8/12">
    <div class="logo bebas group float-left w-48 bg-azulClaro text-center mt-2 ml-5 tracking-widest
          overflow-hidden cursor-pointer hover:border-2 hover:bg-gray-300 hover:text-black">
      <span class="gear float-left text-3xl mt-1 ml-7 animate-spin-slow group-hover:animate-from-bellow">S </span>
      <h3 class="block text-4xl float-right mt-1.5 mr-16 font-bold transition duration-100 group-hover:animate-from-right">BLOG</h3>
    </div>

    <nav class="menu bebas float-right bg-transparent text-2xl">
      <ul>
        <li class="item"><a class="">INICIO</a></li>
        <li class="item"><a class="">BLOG</a></li>
        <li class="item"><a class="">FORMACIÓN</a></li>
        <li class="item"><a class="">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
